<section id="contactos">
        <div class="flex-container">
            <div class="flex-item-left" align="center" id="emm">
                <h1>Ecuavoley mi Mundo</h1>
            </div>
            <div class="infotext">
                <h4>Dirección</h4>
                <a>AV Cardenal de la Torre y Vicente reyes</a>
                <br>
                <a>Quito</a>
                <br>
                <a>Ecuador</a>
            </div>
            <div class="infotext">
                <h4>Correo</h4>
                <a href="mailto:marcojurado1926@gmail.com">marcojurado1926@gmail.com</a>
            </div>
            <div class="infotext">
                <h4>Telefono</h4>
                <a>0979071786</a>
            </div>
            <div>
            </div>
        </div>
    </section>