    <section id="informacion">
        <div class="container">
            <section class="content-divider" id="acerca">
                <div class="flex-container">
                    <div class="flex-item">
                        <div class="cont" align="center">
                            <img class="imagen" id="logoinfo" src="img/logo.png" align="left" alt="">
                        </div>
                    </div >
                    <div class="flex-item-right" align="center">
                        <h1>A cerca de nosotros</h1>
                        <h2>ESCUELA ECUAVOLEY MI MUNDO</h2>
                        <p align="left">La escuela ofrece preparacion Fisica para cualquier deportista, entrenamiento personalizado de Ecuavoley, indumentaria para ecuavolistas y organizamos eventos deportivos</p>
                        <div  id="masInfo" align="center">
                        <button type="button" class="btn btn-outline-secondary btn-lg">Explorar</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>