   <header class="header">
    <div class="banner">
        <h1><strong>Ecuavoley Mi Mundo</strong></h1>
        
        <h2>Escuela de formación de alto rendimiento deportivo</h2>
        <button type="button" class="btn btn-outline-secondary btn-lg">Explorar</button>
    </div>
    </header>