    <section id="productos">
            <div id="contr" class="flex-container">
                <div class="flex-item-left" align="center" id="emm">
                    <h1>Nuestros productos</h1>
                    <a>Ofrecemos indumentaria para Ecuavoley, Ropa de la marca Ecuavoley mi Mundo</a>
                    <div  id="masInfo" align="center">
                    <button type="button" class="btn btn-outline-secondary btn-lg">Ver más</button>
                    </div>
                </div>
                <div class="prod d-flex flex-wrap">
                          {{ getProductos }}
                </div>
                </div>
            
    </section>